{% extends template.self %}

{% block faq_menu %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="https://www.gitbook.com/book/pixelstrolch/barrierefreies-pdf/details">Über dieses Gitbook</a></li>
    <li><a href="https://www.gitbook.com/book/pixelstrolch/barrierefreies-pdf/discussions">Diskussionen</a></li>    
    <li><a href="https://www.gitbook.com/book/pixelstrolch/barrierefreies-pdf/changes">Änderungsanträge</a></li>
    <li><a href="mailto:email@pixelstrol.ch">Autor kontaktieren</a></li>
</ul>
{% endblock %}