body {
    color: #343a40;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif
}
.faq-header .description {
    color: inherit;
}
.panel-body {
    padding: 30px;
    position: relative;
}
.breadcrumb {
    margin-bottom: 30px;
}
.faq-page hr {
    height: 2px;
    margin: 3em 0;
}
.faq-page h2 {
    line-height: 1.3;
}
@media (min-width: 841px) {
    .faq-page h2 > img {
        background: white;
        left: -14px;
        padding: 5px 0;
        position: absolute;
    }
}
@media (max-width: 840px) {
    .faq-page h2 > img {
        vertical-align: -.2em;
    }
}